@import url('http://fonts.googleapis.com/css?family=Lato');
body,
html {
	/* height: 200px; */
	background: #222222;
	font-family: 'Lato', sans-serif;
}

h4 {
	color: #AAAAAA;
	font-weight: normal;
	margin: 10px;
}

hr{
	color: #fff;
	marrgin-bottom: 0;
}

.container ul {
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul li {
    color: #9e9e9e;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 18px;
    border-bottom: 1px solid #565656;
    padding: 10px;
}

ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

ul li:hover .check{
	transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

ul li label {
	display: block;
    position: relative;
    font-weight: 100;
    font-size: 0.75em;
    padding: 0px 42px 5px 30px;
    margin: 0 auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    width: 100%;
}

ul li:hover label {
	color: #FFFFFF;
}

ul li .check {
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 10px;
    left: 10px;
    z-index: 5;
    transition: all .25s linear;
    -webkit-transition: all .25s linear;
}

ul li:hover .check {
	border: 2px solid #FFFFFF;
}

ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 8px;
	width: 8px;
	top: -1px;
	left: -1px;
	margin: auto;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

input[type=radio]:checked ~ .check {
	border: 3px solid #0DFF92;
	top: 10px;
}

input[type=radio]:checked ~ .check::before {
	background: #0DFF92;
	top: 1px;
    left: 1px;
}

input[type=radio]:checked ~ label {
	color: #0DFF92;
}

.signature {
	position: relative;
	margin: 10px 0;
}

.signature p {
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.55em;
	color: #AAAAAA;
}

.signature .much-heart {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #AC1D3F;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
	display: block;
	content: '';
	position: absolute;
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: #AC1D3F;
	top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}
.container:after {
    clear: both;
    display: table;
    content: "";
}
