*{
	margin: 0;
	padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
	overflow: hidden;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

.frame{
	border:none;
    height: 100%;
    width: 100%;
}
#bing-wrapper{
    height: 100%;
    widht: 100%;
}


#sidebar {
    position: relative;
    display: table;
    padding-top: 20px;
    padding-left: 2px;
}

input[id^=ext-image] + label {
    display: inline-block;
}

input[id^=ext-image] + label:hover{

}

input[id^=ext-image] {
    opacity: 0;
    position: absolute;
}

input[id^=ext-image]:checked ~ label{
   border-color: #fff;
}

.image-tile li{
    list-style: none;
    width: 80px;
    opacity: 0.7;
    transition: all 0.3s ease-in;
    margin: 5px 0;
}
.image-tile li:hover{
    opacity: 1;
}
.image-tile li:hover img{
    box-shadow: 0 0 7px 2px #ff7e75;
    width: 100px;
}
.image-tile li img{
    width: 100%;
    transition: all 0.4s ease-out;
}


.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.25)),color-stop(20%,transparent),color-stop(60%,transparent),to(rgba(0,0,0,.3)));
}
.back-page{
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    transition: all 1s ease-in;
    height: 100%;
}
#custom-wrapper{
    height: 100%;
}

.page-element{
    position: absolute;
    z-index: 2;
    bottom: 10px;
}
main#main {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

